body{
  background: url(https://visualcocaine.org/public/uploads/large/191512463706hpuntdhidfqguc250quzezxzcno7vtdkuqugttysdy54xmczvtl4roxlxao7ddcuf2jc7oqwsnubvz4iulwh9ajwwbnly29msi4r.jpg)
}
font{
  color:skyblue;
 }

h1{
  color:skyblue;
}

h2{
  color: skyblue;
}